/* Start Fonts */
@font-face {
  font-family: cocogoose;
  src: url(../fonts/cocogoose/Cocogoose-Pro-Thin-trial.ttf);
  font-weight: 100;
}

@font-face {
  font-family: cocogoose;
  src: url(../fonts/cocogoose/Cocogoose-Pro-Ultralight-trial.ttf);
  font-weight: 200;
}

@font-face {
  font-family: cocogoose;
  src: url(../fonts/cocogoose/Cocogoose-Pro-Light-trial.ttf);
  font-weight: 300;
}

@font-face {
  font-family: cocogoose;
  src: url(../fonts/cocogoose/Cocogoose-Pro-Semilight-trial.ttf);
  font-weight: 400;
}

@font-face {
  font-family: cocogoose;
  src: url(../fonts/cocogoose/Cocogoose-Pro-trial.ttf);
  font-weight: 600;
}

/* Start Global Rules */
* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: cocogoose, sans-serif;
}

a {
  text-decoration: none;
  color: #d3d3d3;
  font-family: 'Lato', sans-serif;
}

a:hover {
  color: #d3d3d3;
}

.me-70 {
  margin-right: 70px;
}

li,
p,
span {
  font-family: 'Lato', sans-serif;
}

/* Start Navbar */
.navbar .navbar-brand {
  width: 100px;
}

.navbar .navbar-nav li.nav-item:first-child {
  width: 100px;
}

.navbar .navbar-nav li.nav-item:last-child {
  border: 3px solid #ef513c;
}

.navbar .navbar-nav li.nav-item a:hover,
.navbar .navbar-nav li.nav-item a.active {
  color: #ef513c;
}

/* Start Headline */
section.headline h1 {
  font-family: cocogoose, sans-serif;
  font-size: 30px;
  color: #ec5242;
  margin-left: 35px;
  margin-bottom: 20px;
  display: block;
  background-image: url(../imgs/headline_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.headline h1 span {
  display: block;
  font-size: 85px;
  font-weight: bold;
}

section.headline h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: rgb(87, 87, 87);
}

section.headline p {
  width: 50%;
  background: #fff;
  border: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  section.headline {
    background-position: center;
  }

  section.headline h1 {
    font-size: 20px;
    margin-left: 10px;
  }

  section.headline h1 span {
    font-size: 50px;
  }

  section.headline p {
    width: 80%;
  }
}

/* Start Main Program */
section.main-program {
  background-image: url(../imgs/main-program-bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  margin-top: 110px;
}

section.main-program h2 {
  font-family: cocogoose, sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.main-program h2::after {
  content: '';
  display: block;
  border: 1px solid #ec5242;
  width: 45px;
  margin: 10px auto;
}

.main-program .row .col-md-6 {
  width: calc(100% / 5);
}

.main-program .row .card {
  height: 380px;
  background: rgba(255, 255, 255, 0.1);
}

.main-program .card .card-img-top {
  width: 75%;
  height: 100px;
  margin: 5px auto;
}

.main-program div.col-lg-3:nth-of-type(3) .card .card-img-top {
  width: 80%;
}

.main-program .card .card-title {
  color: #ec5242;
}

.main-program .card .card-text {
  font-size: 18px;
}

.main-program a.link {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .main-program .row .col-md-6 {
    width: 100%;
    margin: 20px auto;
  }

  .main-program .row .card {
    align-items: center;
  }

  .main-program .card .card-img-top {
    width: 35%;
    height: auto;
    margin: 5px auto;
  }

  .main-program div.col-lg-3:nth-of-type(3) .card .card-img-top {
    width: 45%;
  }

  .main-program a.link {
    background: #ec5242;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 1px;
    text-decoration: none;
  }
}

@media screen and (max-width: 576px) {
  .main-program .card .card-img-top {
    width: 45%;
  }
}
/* Start Featured Teachers */
section.featured-teachers h2 {
  font-family: cocogoose, sans-serif;
  font-weight: 400;
  font-size: 25px;
}

section.featured-teachers h2.title::after {
  content: '';
  display: block;
  border: 1px solid #ec5242;
  width: 45px;
  margin: 10px auto;
}

section.featured-teachers #teachers .teacher {
  height: 130px;
  margin-bottom: 90px;
}

section.featured-teachers #teachers .teacher h4 {
  color: #ec5242;
  font-size: 12px;
}

section.featured-teachers #teachers .teacher p {
  color: #272a31;
}

/* Start Partner */
.partner {
  background: #414246;
}

.partner h2.title {
  color: #272a31;
}

.partner h2::after {
  content: '';
  display: block;
  border: 1px solid #ec5242;
  width: 45px;
  margin: 10px auto;
}

.partner .img-container {
  width: 200px;
}

@media screen and (max-width: 576px) {
  .partner .img-container {
    width: 160px;
    margin: 20px 5px;
  }
}
